In [ ]:
1min:1min;
3min:3min;
5min:5min;
15min:15min;
30min:30min;
1hour:1hour;
2hour:2hour;
4hour:4hour;
6hour:6hour;
12hour:12hour;
1day:1day;
3day:3day;
1week:1week;

In [3]:
import requests
import pandas as pd
import datetime

def coinex_margin(market,period,limit):
        headers = {
                'Content-Type': 'application/json; charset=utf-8',
                'Accept': 'application/json',}
        result = requests.get(
            'https://api.coinex.com/v1/market/kline?market={market}&type={period}&limit={limit}'.format(
                market=market,period=period,limit=limit
            ),
            headers=headers
        )

        df = result.json()
        df=pd.DataFrame(df["data"])
        df.columns = ['Timestamp', 'open', 'close', 'high', 'low', 'volume', 'value']
        df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')
        df['date'] = df['Timestamp'].dt.strftime("%d/%m/%Y")
        df['time-utc'] = df['Timestamp'].dt.strftime("%H:%M:%S")
        df.drop(['value','Timestamp'], inplace=True, axis=1)
        df=df[["date", "time-utc", "open", "high", "low", "close", "volume"]]
        return df

market='BTCUSDT'
period='1hour'
limit='100'
df=coinex_margin(market,period,limit)
df

          date  time-utc      open      high       low     close       volume
0   16/03/2022  09:00:00  40257.97  40685.00  40232.82  40491.67  19.71027506
1   16/03/2022  10:00:00  40500.00  40650.26  40168.73  40239.25  25.58956135
2   16/03/2022  11:00:00  40251.48  40650.26  40225.40  40514.39  17.28383285
3   16/03/2022  12:00:00  40526.08  40677.01  40341.18  40363.84  10.74430297
4   16/03/2022  13:00:00  40363.84  40600.00  40252.91  40600.00  13.64323542
..         ...       ...       ...       ...       ...       ...          ...
95  20/03/2022  08:00:00  41849.99  41915.00  41808.00  41870.98   3.52295865
96  20/03/2022  09:00:00  41860.00  41864.00  41585.00  41766.07   8.89032566
97  20/03/2022  10:00:00  41760.55  41830.02  41655.27  41759.20   5.09762273
98  20/03/2022  11:00:00  41759.20  41809.35  41589.64  41593.70  11.76384712
99  20/03/2022  12:00:00  41590.19  41634.97  41351.35  41524.75  17.77947925

[100 rows x 7 columns]