In [79]:
from datetime import timedelta, date, datetime
import time
import pandas as pd
import requests
import numpy as np
def limit(limit,timeframe):
    
    timeframes = (['1m',1,'minutes',limit*1],['3m',3,'minutes',limit*3],
                  ['5m',5,'minutes',limit*5],['15m',15,'minutes',limit*15],
                  ['30m',30,'minutes',limit*30],['1h',1,'hours',limit*1],
                  ['2h',2,'hours',limit*2],['4h',4,'hours',limit*4],
                  ['6h',6,'hours',limit*6],['8h',8,'hours',limit*8],
                  ['12h',12,'hours',limit*12],['1d',1,'days',limit*1],
                  ['3d',3,'days',limit*3],['1w',1,'weeks',limit*7])
    timeframes = pd.DataFrame(timeframes,columns=['timeframe' , 'time' , 'name_time' , 'limit'])
    timeframes.set_index('timeframe', inplace=True)

    timeframes['limit']  = timeframes['limit'].astype(np.float64)
    
    now = int(round(time.time() * 1000.0))
    if timeframes.loc[timeframe, 'name_time'] == 'minutes':
        from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(minutes=timeframes.loc[timeframe, 'limit'])

    if timeframes.loc[timeframe, 'name_time'] == 'hours':
        from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(hours=timeframes.loc[timeframe, 'limit'])

    if timeframes.loc[timeframe, 'name_time'] == 'days':
        from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(days=timeframes.loc[timeframe, 'limit'])



    from_datetime=datetime.strftime(from_datetime, '%Y-%m-%d %H:%M:%S')
    todate = from_datetime
    return todate
todate=limit(400,"1d")
todate

'2021-02-13 22:22:23'

# margin

In [2]:
import time
from datetime import timedelta, date, datetime
import time
import pandas as pd
import requests
import numpy as np
def number_candle(limit,timeframe):

        timeframes = (['1m',1,'minutes',limit*1],['3m',3,'minutes',limit*3],
                      ['5m',5,'minutes',limit*5],['15m',15,'minutes',limit*15],
                      ['30m',30,'minutes',limit*30],['1h',1,'hours',limit*1],
                      ['2h',2,'hours',limit*2],['4h',4,'hours',limit*4],
                      ['6h',6,'hours',limit*6],['8h',8,'hours',limit*8],
                      ['12h',12,'hours',limit*12],['1d',1,'days',limit*1],
                      ['3d',3,'days',limit*3],['1w',1,'weeks',limit*7])
        timeframes = pd.DataFrame(timeframes,columns=['timeframe' , 'time' , 'name_time' , 'limit'])
        timeframes.set_index('timeframe', inplace=True)

        timeframes['limit']  = timeframes['limit'].astype(np.float64)

        now = int(round(time.time() * 1000.0))
        if timeframes.loc[timeframe, 'name_time'] == 'minutes':
            from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(minutes=timeframes.loc[timeframe, 'limit'])

        if timeframes.loc[timeframe, 'name_time'] == 'hours':
            from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(hours=timeframes.loc[timeframe, 'limit'])

        if timeframes.loc[timeframe, 'name_time'] == 'days':
            from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(days=timeframes.loc[timeframe, 'limit'])



        from_datetime=datetime.strftime(from_datetime, '%Y-%m-%d %H:%M:%S')
        fromdate = from_datetime
        return fromdate

def ohlcvs_margin_kucoin(symbol,timeframe,limit):







        symbol     =  symbol
        tf         =  {'1m':'1min','3m':'3min','5m':'5min',
                       '15m':'15min','30m':'30min','1h':'1hour','2h':'2hour','4h':'4hour','6h':'6hour'
                      ,'8h':'8hour','12h':'12hour','1d':'1day','1w':'1week'}
        duration   =  tf[timeframe]
        fromdate   =  datetime.strptime(number_candle(limit,timeframe),'%Y-%m-%d %H:%M:%S').strftime("%d/%m/%Y %H:%M:%S")
        fromdate   =  int(time.mktime(datetime.strptime(str(fromdate), "%d/%m/%Y %H:%M:%S").timetuple()))

        todate     =  int((time.mktime((datetime.now()).timetuple())))

        url = "https://api.kucoin.com/api/v1/market/candles?type=%s&symbol=%s&startAt=%s&endAt=%s" % (duration,symbol,fromdate,todate)

        payload={}
        files={}
        headers ={}

        df = requests.request("GET", url, headers=headers, data=payload, files=files)
        df=df.json()
        df=df['data']

        df=pd.DataFrame(df)
        df = df.rename({0:"Timestamp",1:"open",
                        2:"close",3:"high",4:"low",5:"volume",6:"value"}, axis='columns')
        df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')
        df['date'] = df['Timestamp'].dt.strftime("%d/%m/%Y")
        df['time-utc'] = df['Timestamp'].dt.strftime("%H:%M:%S")
        df.drop(['value','Timestamp'], inplace=True, axis=1)
        df=df[["date", "time-utc", "open", "high", "low", "close", "volume"]] 
        df =df[::-1]#reverse dataframe
        df.reset_index(drop=True,inplace=True)
        return df


symbol    =  'BTC-USDT'
timeframe =  '30m'
limit     =  400

df = ohlcvs_margin_kucoin(symbol,timeframe,limit)
df

           date  time-utc     open     high      low    close        volume
0    16/03/2022  04:00:00  39158.2  39208.9    38934  39082.1  137.45943926
1    16/03/2022  04:30:00    39082  39191.4  39000.7  39116.8   50.79739142
2    16/03/2022  05:00:00  39116.8  39128.3    38982  39050.8   71.60449328
3    16/03/2022  05:30:00  39053.8  39418.7    39005  39321.6  102.71233492
4    16/03/2022  06:00:00  39320.9  39579.9  39263.2  39345.3  138.88186555
..          ...       ...      ...      ...      ...      ...           ...
393  24/03/2022  08:30:00  43035.8    43169    43034  43045.1   82.21603006
394  24/03/2022  09:00:00  43045.1    43169    43040  43110.7   82.29394678
395  24/03/2022  09:30:00  43110.7    43214    42843  43023.4  251.89917531
396  24/03/2022  10:00:00  43023.5  43048.8  42925.6  43000.4   90.85180572
397  24/03/2022  10:30:00  43000.3  43112.2  42969.1  43030.8   87.16739946

[398 rows x 7 columns]

# future

In [8]:
int(round(time.time() * 1000.0))
dt_obj = datetime.strptime('19.03.2022 09:38:42,76',
                           '%d.%m.%Y %H:%M:%S,%f')
millisec = dt_obj.timestamp() * 1000
millisec
1

s = 1647853200000 / 1000.0
datetime.fromtimestamp(s).strftime('%Y-%m-%d %H:%M:%S')
frome=datetime.fromtimestamp(1647975722272/1000.0)
to=datetime.fromtimestamp(1647259322000/1000.0)
print(frome,'\n',to,'\n',datetime.fromtimestamp(1646539322000/1000.0))

2022-03-22 23:32:02.272000
 2022-03-14 15:32:02
 2022-03-06 07:32:02

In [86]:
import pandas as pd
import requests
url = "https://api.kucoin.com/api/v1/timestamp"

payload={}
files={}
headers ={}

df = requests.request("GET", url, headers=headers, data=payload, files=files)
df=df.json()
df

{'code': '200000', 'data': 1647858102887}

In [11]:
fruits = ['apple', 'banana', 'cherry']
names = ["Jimmy", "Timmy",["Kenny", "Lenny"]]
fruits.extend(names)
fruits
pd.set_option('display.max_rows', df.shape[0]+1)
df

           date      time     open     high      low    close   volume
0    06/03/2022  05:00:00  39474.0  39670.0  39427.0  39497.0   278115
1    06/03/2022  06:00:00  39488.0  39610.0  39370.0  39480.0   265268
2    06/03/2022  07:00:00  39488.0  39515.0  39269.0  39395.0   291656
3    06/03/2022  08:00:00  39348.0  39370.0  39113.0  39144.0   148421
4    06/03/2022  09:00:00  39171.0  39171.0  38642.0  38688.0   593831
5    06/03/2022  10:00:00  38690.0  38722.0  38117.0  38270.0  4184218
6    06/03/2022  11:00:00  38250.0  38374.0  38102.0  38360.0  2015908
7    06/03/2022  12:00:00  38369.0  38682.0  38311.0  38514.0  2763912
8    06/03/2022  13:00:00  38506.0  39046.0  38506.0  38904.0  1305020
9    06/03/2022  14:00:00  38900.0  38964.0  38742.0  38825.0  4631924
10   06/03/2022  15:00:00  38826.0  38898.0  38620.0  38867.0  1276067
11   06/03/2022  16:00:00  38873.0  39361.0  38751.0  39186.0  2192469
12   06/03/2022  17:00:00  39225.0  39226.0  38936.0  39027.0   939349
13   06/03/2022  18:00:00  39010.0  39120.0  38670.0  38870.0  4129638
14   06/03/2022  19:00:00  38890.0  38906.0  38512.0  38673.0   571221
15   06/03/2022  20:00:00  38663.0  38910.0  38618.0  38856.0   522441
16   06/03/2022  21:00:00  38828.0  39246.0  38740.0  39011.0  1502775
17   06/03/2022  22:00:00  39035.0  39192.0  38960.0  38960.0   657945
18   06/03/2022  23:00:00  38935.0  38998.0  38138.0  38337.0  1286598
19   07/03/2022  00:00:00  38396.0  38508.0  37940.0  38384.0  1707016
20   07/03/2022  01:00:00  38393.0  38543.0  38270.0  38334.0   561589
21   07/03/2022  02:00:00  38288.0  38352.0  37560.0  37752.0  2268839
22   07/03/2022  03:00:00  37778.0  37946.0  37592.0  37854.0   717323
23   07/03/2022  04:00:00  37878.0  37966.0  37764.0  37932.0   236515
24   07/03/2022  05:00:00  37925.0  38233.0  37832.0  38018.0   394734
25   07/03/2022  06:00:00  38005.0  38198.0  37996.0  38168.0   422577
26   07/03/2022  07:00:00  38218.0  38218.0  37822.0  37890.0   444153
27   07/03/2022  08:00:00  37929.0  38191.0  37662.0  38158.0  1308966
28   07/03/2022  09:00:00  38161.0  38379.0  38140.0  38160.0   492416
29   07/03/2022  10:00:00  38169.0  38265.0  37970.0  38014.0   864654
30   07/03/2022  11:00:00  38019.0  38398.0  37982.0  38398.0   494466
31   07/03/2022  12:00:00  38361.0  38762.0  38361.0  38600.0  1556845
32   07/03/2022  13:00:00  38608.0  39175.0  38537.0  39027.0  3131276
33   07/03/2022  14:00:00  39026.0  39296.0  38876.0  38876.0  1329872
34   07/03/2022  15:00:00  38888.0  39179.0  38659.0  39091.0  4128832
35   07/03/2022  16:00:00  39118.0  39779.0  38742.0  38820.0  6241958
36   07/03/2022  17:00:00  38810.0  38978.0  38489.0  38617.0  2661322
37   07/03/2022  18:00:00  38612.0  38612.0  37772.0  37968.0  2173426
38   07/03/2022  19:00:00  37964.0  38038.0  37207.0  37297.0  3291802
39   07/03/2022  20:00:00  37337.0  37762.0  37169.0  37525.0  1542493
40   07/03/2022  21:00:00  37590.0  38281.0  37508.0  37824.0  1428288
41   07/03/2022  22:00:00  37835.0  38470.0  37786.0  38213.0  1757127
42   07/03/2022  23:00:00  38174.0  38528.0  37892.0  37985.0   990496
43   08/03/2022  00:00:00  37987.0  38384.0  37873.0  38164.0   784362
44   08/03/2022  01:00:00  38157.0  38493.0  38081.0  38287.0  1223453
45   08/03/2022  02:00:00  38276.0  39242.0  38150.0  38594.0  2776836
46   08/03/2022  03:00:00  38628.0  38696.0  38532.0  38666.0  1060455
47   08/03/2022  04:00:00  38695.0  38810.0  38472.0  38548.0  1114346
48   08/03/2022  05:00:00  38547.0  38588.0  38233.0  38376.0   377895
49   08/03/2022  06:00:00  38357.0  38500.0  38011.0  38276.0   824110
50   08/03/2022  07:00:00  38267.0  38727.0  38162.0  38493.0   898366
51   08/03/2022  08:00:00  38554.0  39151.0  38471.0  38787.0  2165513
52   08/03/2022  09:00:00  38836.0  39012.0  38714.0  38948.0   607444
53   08/03/2022  10:00:00  39006.0  39199.0  38729.0  39072.0   603736
54   08/03/2022  11:00:00  39023.0  39105.0  38770.0  38975.0   490080
55   08/03/2022  12:00:00  39016.0  39223.0  38632.0  38833.0  4321919
56   08/03/2022  13:00:00  38824.0  39079.0  38640.0  38866.0   894195
57   08/03/2022  14:00:00  38875.0  39165.0  38554.0  38788.0  1451488
58   08/03/2022  15:00:00  38758.0  38894.0  38312.0  38669.0  2109469
59   08/03/2022  16:00:00  38655.0  38866.0  38146.0  38300.0  2169194
60   08/03/2022  17:00:00  38295.0  39161.0  38295.0  39092.0  3579042
61   08/03/2022  18:00:00  39114.0  39359.0  38655.0  38690.0  3689851
62   08/03/2022  19:00:00  38677.0  38815.0  38463.0  38738.0  1017921
63   08/03/2022  20:00:00  38765.0  38899.0  38426.0  38515.0  2821002
64   08/03/2022  21:00:00  38514.0  38564.0  38400.0  38492.0   678746
65   08/03/2022  22:00:00  38490.0  38640.0  38490.0  38572.0  1091866
66   08/03/2022  23:00:00  38553.0  38782.0  38533.0  38751.0  1066050
67   09/03/2022  00:00:00  38737.0  39033.0  38664.0  38957.0   969597
68   09/03/2022  01:00:00  38951.0  39316.0  38925.0  39220.0   573276
69   09/03/2022  02:00:00  39231.0  39521.0  39139.0  39419.0   917076
70   09/03/2022  03:00:00  39409.0  41446.0  39379.0  41199.0  6093768
71   09/03/2022  04:00:00  41210.0  41898.0  41210.0  41606.0  7184552
72   09/03/2022  05:00:00  41609.0  41660.0  41338.0  41518.0  2425704
73   09/03/2022  06:00:00  41518.0  41654.0  41433.0  41586.0   698345
74   09/03/2022  07:00:00  41606.0  41814.0  41534.0  41779.0  1451080
75   09/03/2022  08:00:00  41784.0  42444.0  41638.0  42054.0  2009914
76   09/03/2022  09:00:00  42065.0  42215.0  41942.0  42026.0   687799
77   09/03/2022  10:00:00  42014.0  42248.0  41974.0  42233.0  1122183
78   09/03/2022  11:00:00  42225.0  42369.0  42021.0  42178.0   859271
79   09/03/2022  12:00:00  42192.0  42576.0  41695.0  41955.0  2344914
80   09/03/2022  13:00:00  41952.0  42098.0  41692.0  41898.0  2128443
81   09/03/2022  14:00:00  41889.0  42321.0  41889.0  42225.0  1282829
82   09/03/2022  15:00:00  42226.0  42599.0  42129.0  42540.0   919776
83   09/03/2022  16:00:00  42545.0  42571.0  42152.0  42242.0  1103375
84   09/03/2022  17:00:00  42246.0  42372.0  42110.0  42338.0   650943
85   09/03/2022  18:00:00  42336.0  42338.0  41888.0  42048.0  2117222
86   09/03/2022  19:00:00  42040.0  42287.0  41803.0  42222.0  1107041
87   09/03/2022  20:00:00  42236.0  42358.0  41735.0  41844.0   929790
88   09/03/2022  21:00:00  41842.0  41959.0  41704.0  41904.0   718171
89   09/03/2022  22:00:00  41885.0  42074.0  41766.0  41918.0  1114790
90   09/03/2022  23:00:00  41918.0  42137.0  41850.0  41940.0  2576333
91   10/03/2022  00:00:00  41975.0  42048.0  41764.0  41854.0   462907
92   10/03/2022  01:00:00  41853.0  41960.0  40529.0  40967.0  6304363
93   10/03/2022  02:00:00  40921.0  41075.0  40674.0  40768.0  1411507
94   10/03/2022  03:00:00  40732.0  40921.0  40566.0  40777.0  2067673
95   10/03/2022  04:00:00  40758.0  40824.0  39382.0  39498.0  3415808
96   10/03/2022  05:00:00  39503.0  39542.0  38834.0  39191.0  4719175
97   10/03/2022  06:00:00  39198.0  39401.0  39046.0  39386.0   829997
98   10/03/2022  07:00:00  39354.0  39393.0  39140.0  39225.0   388465
99   10/03/2022  08:00:00  39238.0  39268.0  38792.0  39221.0  1673072
100  10/03/2022  09:00:00  39236.0  39298.0  39048.0  39161.0   801275
101  10/03/2022  10:00:00  39112.0  39238.0  38981.0  39073.0   366049
102  10/03/2022  11:00:00  39000.0  39133.0  38951.0  39086.0   549498
103  10/03/2022  12:00:00  39076.0  39364.0  38970.0  39269.0   403240
104  10/03/2022  13:00:00  39252.0  40319.0  38548.0  38870.0  8619777
105  10/03/2022  14:00:00  38863.0  39363.0  38799.0  39268.0  1437268
106  10/03/2022  15:00:00  39294.0  39735.0  38970.0  39160.0  1186318
107  10/03/2022  16:00:00  39176.0  39250.0  38911.0  39127.0   456026
108  10/03/2022  17:00:00  39143.0  39296.0  39035.0  39172.0   315346
109  10/03/2022  18:00:00  39188.0  39258.0  39015.0  39170.0   340335
110  10/03/2022  19:00:00  39194.0  39573.0  39083.0  39446.0   487470
111  10/03/2022  20:00:00  39434.0  39674.0  39277.0  39619.0   997454
112  10/03/2022  21:00:00  39609.0  39616.0  39283.0  39309.0  1156350
113  10/03/2022  22:00:00  39313.0  39475.0  39061.0  39424.0   795220
114  10/03/2022  23:00:00  39435.0  39579.0  39371.0  39432.0  1043260
115  11/03/2022  00:00:00  39419.0  39419.0  39146.0  39250.0   364427
116  11/03/2022  01:00:00  39303.0  39303.0  38569.0  38649.0  1975639
117  11/03/2022  02:00:00  38668.0  38738.0  38234.0  38236.0   955086
118  11/03/2022  03:00:00  38289.0  38849.0  38272.0  38714.0   821265
119  11/03/2022  04:00:00  38714.0  38714.0  38463.0  38498.0   576554
120  11/03/2022  05:00:00  38518.0  38793.0  38361.0  38782.0   560577
121  11/03/2022  06:00:00  38724.0  38993.0  38689.0  38934.0   867451
122  11/03/2022  07:00:00  38939.0  39318.0  38937.0  39119.0  1525193
123  11/03/2022  08:00:00  39083.0  39187.0  38896.0  39041.0   956695
124  11/03/2022  09:00:00  39030.0  39189.0  38913.0  39029.0  1908496
125  11/03/2022  10:00:00  39025.0  39155.0  38963.0  39029.0  1209427
126  11/03/2022  11:00:00  39016.0  40236.0  38815.0  39894.0  6735512
127  11/03/2022  12:00:00  39921.0  40242.0  39728.0  39884.0  2364609
128  11/03/2022  13:00:00  39913.0  39942.0  39172.0  39255.0  3015096
129  11/03/2022  14:00:00  39262.0  39585.0  39177.0  39282.0  1038789
130  11/03/2022  15:00:00  39270.0  39270.0  38888.0  39065.0  1591103
131  11/03/2022  16:00:00  39014.0  39061.0  38581.0  38713.0  1099966
132  11/03/2022  17:00:00  38685.0  38885.0  38589.0  38797.0   844145
133  11/03/2022  18:00:00  38797.0  38872.0  38629.0  38639.0   731556
134  11/03/2022  19:00:00  38631.0  38862.0  38540.0  38796.0   736128
135  11/03/2022  20:00:00  38790.0  38960.0  38284.0  38369.0  1398512
136  11/03/2022  21:00:00  38369.0  38948.0  38369.0  38830.0  1218775
137  11/03/2022  22:00:00  38850.0  39149.0  38847.0  38912.0   705501
138  11/03/2022  23:00:00  38886.0  38922.0  38731.0  38749.0   309497
139  12/03/2022  00:00:00  38719.0  39149.0  38652.0  39149.0   790531
140  12/03/2022  01:00:00  39149.0  39296.0  39084.0  39161.0   391366
141  12/03/2022  02:00:00  39174.0  39246.0  39036.0  39140.0   415104
142  12/03/2022  03:00:00  39106.0  39200.0  39071.0  39078.0   198152
143  12/03/2022  04:00:00  39041.0  39185.0  38941.0  39106.0   251013
144  12/03/2022  05:00:00  39043.0  39193.0  39043.0  39171.0   165755
145  12/03/2022  06:00:00  39184.0  39260.0  39062.0  39091.0   736646
146  12/03/2022  07:00:00  39091.0  39161.0  38948.0  39097.0   315653
147  12/03/2022  08:00:00  39084.0  39145.0  38966.0  39101.0   719557
148  12/03/2022  09:00:00  39064.0  39200.0  39064.0  39150.0   170474
149  12/03/2022  10:00:00  39150.0  39243.0  39114.0  39225.0   177343
150  12/03/2022  11:00:00  39240.0  39276.0  38968.0  39095.0   472663
151  12/03/2022  12:00:00  39096.0  39198.0  39035.0  39190.0    95323
152  12/03/2022  13:00:00  39194.0  39234.0  39005.0  39081.0   124982
153  12/03/2022  14:00:00  39056.0  39129.0  38626.0  38910.0   721692
154  12/03/2022  15:00:00  38905.0  39174.0  38830.0  39059.0   837264
155  12/03/2022  16:00:00  39038.0  39154.0  38967.0  39152.0   163150
156  12/03/2022  17:00:00  39135.0  39606.0  39046.0  39090.0  1303200
157  12/03/2022  18:00:00  39103.0  39144.0  38927.0  39054.0   533399
158  12/03/2022  19:00:00  39045.0  39045.0  38927.0  39021.0   132638
159  12/03/2022  20:00:00  38989.0  39178.0  38977.0  39122.0   254279
160  12/03/2022  21:00:00  39108.0  39161.0  39067.0  39078.0    65950
161  12/03/2022  22:00:00  39080.0  39158.0  39008.0  39105.0    68224
162  12/03/2022  23:00:00  39128.0  39152.0  38619.0  38790.0   673662
163  13/03/2022  00:00:00  38750.0  38950.0  38694.0  38920.0  1403189
164  13/03/2022  01:00:00  38926.0  39264.0  38912.0  39001.0  1086231
165  13/03/2022  02:00:00  38995.0  39187.0  38994.0  39155.0   452680
166  13/03/2022  03:00:00  39166.0  39240.0  39083.0  39171.0   255381
167  13/03/2022  04:00:00  39185.0  39303.0  39094.0  39148.0   369573
168  13/03/2022  05:00:00  39121.0  39162.0  39106.0  39128.0   186950
169  13/03/2022  06:00:00  39114.0  39167.0  39071.0  39158.0   173747
170  13/03/2022  07:00:00  39137.0  39170.0  39073.0  39081.0    44970
171  13/03/2022  08:00:00  39079.0  39157.0  39006.0  39066.0   982090
172  13/03/2022  09:00:00  39049.0  39086.0  38851.0  38992.0   636597
173  13/03/2022  10:00:00  38993.0  39012.0  38871.0  38998.0   241036
174  13/03/2022  11:00:00  39006.0  39020.0  38590.0  38745.0   569690
175  13/03/2022  12:00:00  38748.0  38758.0  38330.0  38504.0   679877
176  13/03/2022  13:00:00  38492.0  38926.0  38468.0  38744.0   773191
177  13/03/2022  14:00:00  38754.0  38910.0  38730.0  38856.0   232456
178  13/03/2022  15:00:00  38838.0  39078.0  38838.0  38934.0   481350
179  13/03/2022  16:00:00  38932.0  38988.0  38866.0  38937.0   143647
180  13/03/2022  17:00:00  38932.0  39042.0  38884.0  38936.0   432896
181  13/03/2022  18:00:00  38935.0  39006.0  38900.0  38991.0   246072
182  13/03/2022  19:00:00  39002.0  39032.0  38844.0  38845.0   801146
183  13/03/2022  20:00:00  38842.0  38842.0  38532.0  38680.0   955178
184  13/03/2022  21:00:00  38653.0  38808.0  38653.0  38724.0   264165
185  13/03/2022  22:00:00  38736.0  38823.0  37569.0  37732.0  2539839
186  13/03/2022  23:00:00  37718.0  37890.0  37561.0  37782.0  1360445
187  14/03/2022  00:00:00  37779.0  37870.0  37550.0  37824.0  1038638
188  14/03/2022  01:00:00  37856.0  38330.0  37849.0  38074.0  1047145
189  14/03/2022  02:00:00  38011.0  38174.0  37996.0  38018.0   489586
190  14/03/2022  03:00:00  38036.0  38161.0  37972.0  38161.0   195225
191  14/03/2022  04:00:00  38168.0  38927.0  38138.0  38504.0  2101713
192  14/03/2022  05:00:00  38522.0  38590.0  38453.0  38468.0   511446
193  14/03/2022  06:00:00  38476.0  38758.0  38476.0  38657.0   258632
194  14/03/2022  07:00:00  38645.0  39151.0  38644.0  39082.0  1334145
195  14/03/2022  08:00:00  39085.0  39225.0  38946.0  39065.0   844235
196  14/03/2022  09:00:00  39077.0  39315.0  38874.0  39149.0  1054878
197  14/03/2022  10:00:00  39169.0  39174.0  38973.0  39102.0   495183
198  14/03/2022  11:00:00  39112.0  39116.0  38855.0  38903.0   389158
199  14/03/2022  12:00:00  38889.0  38968.0  38681.0  38827.0   598239
200  14/03/2022  13:00:00  38850.0  38946.0  38619.0  38824.0  1114496
201  14/03/2022  14:00:00  38822.0  39161.0  38737.0  39107.0  1043782
202  14/03/2022  15:00:00  39155.0  39157.0  38839.0  38936.0   717555
203  14/03/2022  16:00:00  38949.0  39045.0  38813.0  38826.0   529794
204  14/03/2022  17:00:00  38837.0  38837.0  38583.0  38728.0  1327722
205  14/03/2022  18:00:00  38712.0  38776.0  38410.0  38703.0   960410
206  14/03/2022  19:00:00  38703.0  38882.0  38610.0  38804.0   833221
207  14/03/2022  20:00:00  38817.0  38942.0  38699.0  38733.0   896069
208  14/03/2022  21:00:00  38722.0  38787.0  38550.0  38706.0   799088
209  14/03/2022  22:00:00  38729.0  39902.0  38674.0  39317.0  3657710
210  14/03/2022  23:00:00  39338.0  39784.0  39338.0  39672.0  1641876
211  15/03/2022  00:00:00  39670.0  39800.0  39397.0  39570.0  1576936
212  15/03/2022  01:00:00  39582.0  39605.0  38773.0  38828.0  3104784
213  15/03/2022  02:00:00  38807.0  39120.0  38807.0  39002.0  1833847
214  15/03/2022  03:00:00  39001.0  39030.0  38627.0  38768.0  1262471
215  15/03/2022  04:00:00  38749.0  38852.0  38703.0  38753.0   584524
216  15/03/2022  05:00:00  38769.0  38827.0  38697.0  38760.0   302028
217  15/03/2022  06:00:00  38743.0  38980.0  38724.0  38760.0   501360
218  15/03/2022  07:00:00  38742.0  38742.0  38119.0  38437.0  1866366
219  15/03/2022  08:00:00  38429.0  38463.0  38272.0  38374.0   405748
220  15/03/2022  09:00:00  38374.0  38682.0  38312.0  38540.0   751579
221  15/03/2022  10:00:00  38561.0  38731.0  38561.0  38664.0   691575
222  15/03/2022  11:00:00  38678.0  38818.0  38617.0  38669.0   717967
223  15/03/2022  12:00:00  38667.0  38931.0  38587.0  38870.0   926931
224  15/03/2022  13:00:00  38874.0  38927.0  38489.0  38728.0   793707
225  15/03/2022  14:00:00  38728.0  39189.0  38680.0  39062.0  1562969
226  15/03/2022  15:00:00  39039.0  39281.0  38925.0  39032.0  1274491
227  15/03/2022  16:00:00  38993.0  39373.0  38940.0  39172.0  1376290
228  15/03/2022  17:00:00  39178.0  39321.0  39084.0  39291.0   895033
229  15/03/2022  18:00:00  39296.0  39532.0  39189.0  39432.0  1142629
230  15/03/2022  19:00:00  39405.0  39820.0  39405.0  39680.0  2084002
231  15/03/2022  20:00:00  39767.0  39864.0  39399.0  39455.0  1894475
232  15/03/2022  21:00:00  39471.0  39684.0  39304.0  39673.0  1011863
233  15/03/2022  22:00:00  39684.0  39930.0  39409.0  39480.0   958887
234  15/03/2022  23:00:00  39485.0  39574.0  39277.0  39315.0   981427
235  16/03/2022  00:00:00  39302.0  39436.0  39152.0  39170.0   855985
236  16/03/2022  01:00:00  39173.0  39619.0  39111.0  39514.0   851651
237  16/03/2022  02:00:00  39519.0  41749.0  39499.0  40880.0  5616064
238  16/03/2022  03:00:00  40921.0  40949.0  38688.0  39153.0  3785404
239  16/03/2022  04:00:00  39150.0  39193.0  38944.0  39129.0  1063688
240  16/03/2022  05:00:00  39118.0  39410.0  38994.0  39312.0   831109
241  16/03/2022  06:00:00  39316.0  39590.0  39264.0  39590.0  1240383
242  16/03/2022  07:00:00  39600.0  39679.0  39340.0  39559.0   428920
243  16/03/2022  08:00:00  39598.0  40500.0  39598.0  40317.0  2498321
244  16/03/2022  09:00:00  40343.0  40710.0  40259.0  40522.0  2164812
245  16/03/2022  10:00:00  40532.0  40688.0  40182.0  40315.0  1126842
246  16/03/2022  11:00:00  40325.0  40685.0  40257.0  40518.0   604625
247  16/03/2022  12:00:00  40551.0  40680.0  40382.0  40383.0   727530
248  16/03/2022  13:00:00  40377.0  40619.0  40268.0  40608.0   437175
249  16/03/2022  14:00:00  40633.0  41202.0  40400.0  40814.0  2306418
250  16/03/2022  15:00:00  40819.0  40898.0  40555.0  40622.0   540302
251  16/03/2022  16:00:00  40638.0  40779.0  40010.0  40306.0  1422327
252  16/03/2022  17:00:00  40306.0  40699.0  40071.0  40431.0  1622802
253  16/03/2022  18:00:00  40373.0  40540.0  39280.0  39963.0  4139292
254  16/03/2022  19:00:00  39960.0  40961.0  39845.0  40856.0  2915539
255  16/03/2022  20:00:00  40832.0  41450.0  40776.0  41232.0  3227216
256  16/03/2022  21:00:00  41261.0  41396.0  40913.0  41104.0   598308
257  16/03/2022  22:00:00  41124.0  41233.0  40872.0  40881.0   958403
258  16/03/2022  23:00:00  40878.0  41194.0  40778.0  41124.0   604161
259  17/03/2022  00:00:00  41155.0  41155.0  40871.0  40994.0   427583
260  17/03/2022  01:00:00  41037.0  41299.0  40832.0  41200.0   678793
261  17/03/2022  02:00:00  41231.0  41411.0  40937.0  41120.0   308753
262  17/03/2022  03:00:00  41085.0  41147.0  41000.0  41064.0   308996
263  17/03/2022  04:00:00  41019.0  41376.0  40923.0  41367.0  1038535
264  17/03/2022  05:00:00  41340.0  41500.0  41031.0  41079.0   799948
265  17/03/2022  06:00:00  41072.0  41112.0  40610.0  40769.0   595938
266  17/03/2022  07:00:00  40761.0  40921.0  40566.0  40747.0   450371
267  17/03/2022  08:00:00  40757.0  40899.0  40757.0  40842.0   261762
268  17/03/2022  09:00:00  40858.0  40899.0  40740.0  40824.0   300885
269  17/03/2022  10:00:00  40814.0  40859.0  40521.0  40744.0   716744
270  17/03/2022  11:00:00  40744.0  40827.0  40668.0  40758.0   526378
271  17/03/2022  12:00:00  40764.0  41238.0  40753.0  41031.0  1751805
272  17/03/2022  13:00:00  41055.0  41184.0  40862.0  41184.0   739942
273  17/03/2022  14:00:00  41117.0  41186.0  40760.0  40828.0   463112
274  17/03/2022  15:00:00  40845.0  41033.0  40762.0  40794.0   336487
275  17/03/2022  16:00:00  40826.0  40903.0  40640.0  40803.0   443257
276  17/03/2022  17:00:00  40820.0  40857.0  40588.0  40802.0   483123
277  17/03/2022  18:00:00  40819.0  40884.0  40772.0  40808.0   327981
278  17/03/2022  19:00:00  40818.0  40902.0  40770.0  40832.0   203240
279  17/03/2022  20:00:00  40851.0  40869.0  40667.0  40722.0   340529

In [10]:
# Ù„ÛŒÙ…ÛŒØª Ù‡Ø± Ú†Ù‚Ø¯Ø± Ø¨ÙˆØ¯ Ø¨Ø§ÛŒØ¯ Ø¨Ù‡ Ø¨Ø§Ø²Ù‡ 200 ØªØ§ Ø¨Ø´Ú©Ù†ÛŒÙ… Ùˆ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ Ø±Ø§ Ø¨Ú¯ÛŒØ±ÛŒÙ…
#Ø¨Ø§ÛŒØ¯ Ù„ÛŒÙ…ÛŒØª Ø±Ø§ Ø¨Ø´Ú©Ù†ÛŒÙ… Ùˆ Ø²Ù…Ø§Ù†Ù‡Ø§ÛŒ Ù…Ø±Ø¨ÙˆØ· Ø¨Ù‡ 200 Ú©Ù†Ø¯Ù„ Ø±Ø§ Ø®Ø§Ø±Ø¬ Ú©Ù†ÛŒÙ… Ùˆ Ø¯Ø± ÛŒÚ© Ù„ÛŒØ³Øª Ù‚Ø±Ø§Ø± Ø¨Ø¯ÛŒÙ… Ùˆ  Ø§Ø² Ø¢Ù†Ù‡Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒÙ…
import time
from datetime import timedelta, date, datetime
import time
import pandas as pd
import requests
import numpy as np
def kucoin_future(symbol,limit,timeframe):
    pairs = pd.read_pickle("pairs_kucoin_future.pkl")
    save_pairs=pairs.copy()

    def number_candle(limit,timeframe):
        i=0
        list_date=[]
        n=limit/200
        while i<n:
                timeframes = (['1m',1,'minutes',limit*1],['3m',3,'minutes',limit*3],
                              ['5m',5,'minutes',limit*5],['15m',15,'minutes',limit*15],
                              ['30m',30,'minutes',limit*30],['1h',1,'hours',limit*1],
                              ['2h',2,'hours',limit*2],['4h',4,'hours',limit*4],
                              ['6h',6,'hours',limit*6],['8h',8,'hours',limit*8],
                              ['12h',12,'hours',limit*12],['1d',1,'days',limit*1],
                              ['3d',3,'days',limit*3],['1w',1,'weeks',limit*7])
                timeframes = pd.DataFrame(timeframes,columns=['timeframe' , 'time' , 'name_time' , 'limit'])
                timeframes.set_index('timeframe', inplace=True)

                timeframes['limit']  = timeframes['limit'].astype(np.float64)

                now = int(round(time.time() * 1000.0))
                if timeframes.loc[timeframe, 'name_time'] == 'minutes':
                    from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(minutes=timeframes.loc[timeframe, 'limit'])

                if timeframes.loc[timeframe, 'name_time'] == 'hours':
                    from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(hours=timeframes.loc[timeframe, 'limit'])

                if timeframes.loc[timeframe, 'name_time'] == 'days':
                    from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(days=timeframes.loc[timeframe, 'limit'])



                from_datetime=datetime.strftime(from_datetime, '%Y-%m-%d %H:%M:%S')
                from_datetime=datetime.strptime(from_datetime,'%Y-%m-%d %H:%M:%S')
                fromdate = from_datetime
                fromdate =  int(from_datetime.timestamp() * 1000)
                list_date.append(fromdate)
                limit=limit-200
                if limit<200:
                    todate =  int(round(time.time() * 1000.0))
                    list_date.append(todate)
#                     list_date.reverse()
                    break
                i+=1
        return list_date

    i=0
    df=[]
    list_date=number_candle(limit,timeframe)
    while i<(len(list_date)-1):

            symbol  =  symbol
            tf =  {'1m':1,'5m':5,
                           '15m':15,'30m':30,'1h':60,'2h':120,'4h':240
                          ,'8h':480,'12h':720,'1d':1440,'1w':10080}
            duration =  tf[timeframe]
            fromdate = list_date[i]

            todate = list_date[i+1]

            url = "https://api-futures.kucoin.com/api/v1/kline/query?symbol=%s&granularity=%s&from=%s&to=%s"\
            % (symbol,duration,fromdate,todate)

            payload={}
            files={}
            headers ={}

            dff = requests.request("GET", url, headers=headers, data=payload, files=files)
            dff=dff.json()
            dff=dff['data']
            df.extend(dff)
            i+=1
    df=pd.DataFrame(df)
    df = df.rename({0:"Timestamp",1:"open",
                    2:"high",3:"low",4:"close",5:"volume"}, axis='columns')
    df["Timestamp"] = pd.to_datetime(df["Timestamp"], unit='ms')
    df['date'] = df["Timestamp"].dt.strftime("%d/%m/%Y")
    df['time'] = df["Timestamp"].dt.strftime("%H:%M:%S")
    df.drop(['Timestamp'], inplace=True, axis=1)
    df=df[["date", "time", "open", "high", "low", "close", "volume"]] 


    return df


symbol='XBTUSDM'
limit=400
timeframe='1h'
df=kucoin_future(symbol,limit,timeframe)
df

           date      time     open     high      low    close   volume
0    06/03/2022  05:00:00  39474.0  39670.0  39427.0  39497.0   278115
1    06/03/2022  06:00:00  39488.0  39610.0  39370.0  39480.0   265268
2    06/03/2022  07:00:00  39488.0  39515.0  39269.0  39395.0   291656
3    06/03/2022  08:00:00  39348.0  39370.0  39113.0  39144.0   148421
4    06/03/2022  09:00:00  39171.0  39171.0  38642.0  38688.0   593831
..          ...       ...      ...      ...      ...      ...      ...
394  22/03/2022  15:00:00  42774.0  42799.0  42562.0  42575.0   502643
395  22/03/2022  16:00:00  42570.0  42698.0  42475.0  42514.0   455041
396  22/03/2022  17:00:00  42512.0  42649.0  42477.0  42601.0  1270578
397  22/03/2022  18:00:00  42618.0  42636.0  42506.0  42603.0   349749
398  22/03/2022  19:00:00  42618.0  42735.0  42583.0  42644.0    56765

[399 rows x 7 columns]

In [107]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]
a.extend(c)
a.extend(b)
a

[1, 2, 3, 7, 8, 9, 4, 5, 6]

In [10]:
import pandas as pd
i=33
url = "https://api-futures.kucoin.com/api/v1/kline/query?symbol=%s&granularity=%s&from=%s&to=%s"\
% ('.KXBTUSDT',60,t[i],t[i+1])

payload={}
files={}
headers ={}

dff = requests.request("GET", url, headers=headers, data=payload, files=files)
df=dff.json()
df=df['data']
df=pd.DataFrame(df)
df = df.rename({0:"Timestamp",1:"open",
        2:"high",3:"low",4:"close",5:"volume"}, axis='columns')
df["Timestamp"] = pd.to_datetime(df["Timestamp"], unit='ms')
df['date'] = df["Timestamp"].dt.strftime("%d/%m/%Y")
df['time'] = df["Timestamp"].dt.strftime("%H:%M:%S")
df.drop(['Timestamp'], inplace=True, axis=1)
df=df[["date", "time", "open", "high", "low", "close", "volume"]]
df

          date      time      open      high       low     close  volume
0   27/02/2022  15:00:00  38788.86  39427.09  38744.19  39356.58       0
1   27/02/2022  16:00:00  39358.67  39443.14  38950.09  39090.20       0
2   27/02/2022  17:00:00  39090.20  39126.83  38948.89  38971.93       0
3   27/02/2022  18:00:00  38971.93  39146.40  38811.63  38916.51       0
4   27/02/2022  19:00:00  38916.64  38965.08  37522.02  37605.80       0
5   27/02/2022  20:00:00  37604.58  38285.96  37408.49  37953.96       0
6   27/02/2022  21:00:00  37957.68  38035.73  37012.16  37418.92       0
7   27/02/2022  22:00:00  37418.10  37887.92  37354.96  37808.32       0
8   27/02/2022  23:00:00  37813.48  37816.43  37364.76  37691.32       0
9   28/02/2022  00:00:00  37695.34  37801.83  37450.53  37558.36       0
10  28/02/2022  01:00:00  37564.47  38374.35  37564.47  37966.12       0
11  28/02/2022  02:00:00  37965.81  38103.26  37570.75  37755.73       0
12  28/02/2022  03:00:00  37762.10  37879.63  37653.80  37790.78       0
13  28/02/2022  04:00:00  37791.22  38044.85  37740.27  37816.43       0
14  28/02/2022  05:00:00  37816.43  38009.71  37739.18  37827.39       0
15  28/02/2022  06:00:00  37827.71  38116.55  37480.91  37969.87       0
16  28/02/2022  07:00:00  37969.70  38460.09  37913.63  38342.34       0
17  28/02/2022  08:00:00  38343.46  38650.80  38180.35  38301.27       0
18  28/02/2022  09:00:00  38302.67  38561.24  38127.46  38127.46       0
19  28/02/2022  10:00:00  38122.23  38448.58  38114.63  38372.69       0
20  28/02/2022  11:00:00  38374.32  38476.06  38129.81  38336.60       0
21  28/02/2022  12:00:00  38335.41  38616.46  38166.60  38282.36       0
22  28/02/2022  13:00:00  38281.03  38348.26  37943.15  38001.50       0
23  28/02/2022  14:00:00  38000.44  39878.97  38000.42  39815.81       0
24  28/02/2022  15:00:00  39817.18  40887.00  39625.46  40816.74       0
25  28/02/2022  16:00:00  40821.44  41319.72  40715.32  40997.26       0
26  28/02/2022  17:00:00  41001.68  41404.78  40744.74  41388.30       0
27  28/02/2022  18:00:00  41391.44  41446.37  41055.36  41208.18       0
28  28/02/2022  19:00:00  41207.28  41372.28  41018.14  41330.30       0
29  28/02/2022  20:00:00  41331.50  41934.28  41258.43  41890.12       0
30  28/02/2022  21:00:00  41895.02  41910.02  41510.46  41637.65       0
31  28/02/2022  22:00:00  41638.32  44184.04  41633.10  42933.63       0
32  28/02/2022  23:00:00  42985.95  43303.32  42874.04  43177.71       0
33  01/03/2022  00:00:00  43177.73  43716.24  43176.89  43560.25       0
34  01/03/2022  01:00:00  43560.53  43614.80  43229.29  43257.05       0
35  01/03/2022  02:00:00  43257.05  43291.59  42991.97  43169.01       0
36  01/03/2022  03:00:00  43171.74  43180.82  42870.27  43151.02       0
37  01/03/2022  04:00:00  43151.02  43397.11  43077.32  43337.77       0
38  01/03/2022  05:00:00  43334.53  43392.99  43144.97  43207.39       0
39  01/03/2022  06:00:00  43207.31  43475.63  43038.24  43447.04       0
40  01/03/2022  07:00:00  43451.85  43543.79  43288.36  43483.18       0
41  01/03/2022  08:00:00  43485.45  43697.10  43323.55  43517.46       0
42  01/03/2022  09:00:00  43511.11  43511.11  43136.03  43259.79       0
43  01/03/2022  10:00:00  43259.57  43587.50  42849.74  43582.51       0
44  01/03/2022  11:00:00  43580.72  43825.10  43362.41  43610.35       0
45  01/03/2022  12:00:00  43610.05  44661.00  43578.15  44642.67       0
46  01/03/2022  13:00:00  44651.21  44947.37  44440.83  44443.40       0
47  01/03/2022  14:00:00  44439.08  44663.32  43744.36  43800.41       0
48  01/03/2022  15:00:00  43803.70  44062.10  43377.67  43648.21       0
49  01/03/2022  16:00:00  43644.70  44028.59  43226.20  43383.16       0
50  01/03/2022  17:00:00  43385.00  43847.67  43247.51  43641.69       0
51  01/03/2022  18:00:00  43641.08  43869.16  43452.20  43811.78       0
52  01/03/2022  19:00:00  43811.78  44066.01  43674.93  43724.54       0
53  01/03/2022  20:00:00  43724.45  44098.99  43705.01  44060.91       0
54  01/03/2022  21:00:00  44075.48  44241.59  43743.92  43859.36       0
55  01/03/2022  22:00:00  43862.01  44206.49  43763.30  44158.58       0
56  01/03/2022  23:00:00  44159.34  44497.94  44058.62  44413.01       0
57  02/03/2022  00:00:00  44412.92  44746.60  43933.86  44274.24       0

In [4]:
import time
from datetime import timedelta, date, datetime
import time
import pandas as pd
import requests
import numpy as np
def number_candle(limit,timeframe):
            i=0
            list_date=[]
            n=limit/200
            while i<n:
                    timeframes = (['1m',1,'minutes',limit*1],['3m',3,'minutes',limit*3],
                                  ['5m',5,'minutes',limit*5],['15m',15,'minutes',limit*15],
                                  ['30m',30,'minutes',limit*30],['1h',1,'hours',limit*1],
                                  ['2h',2,'hours',limit*2],['4h',4,'hours',limit*4],
                                  ['6h',6,'hours',limit*6],['8h',8,'hours',limit*8],
                                  ['12h',12,'hours',limit*12],['1d',1,'days',limit*1],
                                  ['3d',3,'days',limit*3],['1w',1,'weeks',limit*7])
                    timeframes = pd.DataFrame(timeframes,columns=['timeframe' , 'time' , 'name_time' , 'limit'])
                    timeframes.set_index('timeframe', inplace=True)

                    timeframes['limit']  = timeframes['limit'].astype(np.float64)

                    now = int(round(time.time() * 1000.0))
                    if timeframes.loc[timeframe, 'name_time'] == 'minutes':
                        from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(minutes=timeframes.loc[timeframe, 'limit'])

                    if timeframes.loc[timeframe, 'name_time'] == 'hours':
                        from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(hours=timeframes.loc[timeframe, 'limit'])

                    if timeframes.loc[timeframe, 'name_time'] == 'days':
                        from_datetime=datetime.fromtimestamp(now/1000.0) - timedelta(days=timeframes.loc[timeframe, 'limit'])



                    from_datetime=datetime.strftime(from_datetime, '%Y-%m-%d %H:%M:%S')
                    from_datetime=datetime.strptime(from_datetime,'%Y-%m-%d %H:%M:%S')
                    fromdate = from_datetime
                    fromdate =  int(from_datetime.timestamp() * 1000)
                    list_date.append(fromdate)
                    limit=limit-200
                    if limit<200:
                        todate =  int(round(time.time() * 1000.0))
                        list_date.append(todate)
                        break
                    i+=1
            return list_date
t=number_candle(9624,'1h')

In [35]:
from datetime import timedelta, date, datetime
import time
from_datetime='2022-01-01'

#from_datetime=time.strftime(from_datetime, '%Y-%m-%d')
from_timestamp = exchange.parse8601(from_datetime)
ohlcvs = exchange.fetch_ohlcv('BCH/USDT:USDT', from_timestamp)

KeyError: None